/* Navigation section */
#navbar{
    flex-direction: column;
    width: 100%;
    padding: 0px 2px;
    font-size: 0.9rem;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    margin-left:5px ;
    padding-bottom: 8px;
}

/* Home section */
#home{ 
width: 100%;
height: 340px;
padding: 20px 1px;
}
#home.btn{
    margin-left: 10px;
}

#home::before{
    height: 450px;
    padding: 35px 30px;
    width: 110%;
}
#home p{
font-size: 15px;
height: 50px;
padding-left: 70px;

}

.h1-primary{
font-size: 24px;
padding-left: 10px;
margin: 50px 60px;
}
.btn{
    margin: 90px 190px;
    padding: 4px 18px;
    font-size: 8px;
    

}
/* Service section */
#services{
    flex-direction: column;
}
#services.box{
    padding:1px ;
    padding-bottom: 10px;
    width: 1px;
    height: 2px;

}
#services.box img{
    width: 10px;
    height: 10px;
    flex-wrap: wrap;
}
#services .box {
    width: 70px;
}
.box img{
    width: 70px;
    height: 5px;
}
.h-secondary{
    font-size: 1rem;
}
.text-center{
    font-size: 5px;
}

/* clients section */
#client-section{
    flex-wrap: wrap;
    
}
.client img{
    width: 6px;
    padding:0px;
    
    height: 0px;
    flex-wrap: wrap;
}
.client-items img{
    width: 40px;
    height: 30px;
    margin: 1px;

}
/* Contact us section */
#contact-box form{
    width:80%;
}
